.feed {
  flex: 0.6;
  margin: 0 20px;
}
.feed-input-container {
  background-color: white;
  padding: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.feed-input {
  border: 1px solid lightgray;
  border-radius: 30px;
  display: flex;
  padding: 10px;
  padding-left: 15px;
  color: white;
}
.feed-input > form {
  display: flex;
  width: 100%;
}
.feed-input > form > input {
  flex: 1;
  border: none;
  margin-left: 10px;
  outline-width: 0;
  font-weight: 600;
}
.feed-option {
  display: flex;
  justify-content: space-evenly;
}
/* Feed function */
.inputOption {
  display: flex;
  align-items: center;
  margin-top: 15px;
  padding: 10px;
  color: gray;
  cursor: pointer;
}
.inputOption:hover {
  background-color: whitesmoke;
  border-radius: 10px;
}
.inputOption > h4 {
  margin-left: 5px;
}
.pen {
  color: black;
}
