.widgets {
  position: sticky;
  top: 80px;
  background-color: white;
  border-radius: 10px;
  flex: 0.2;
  border: 1px solid lightgray;
  padding-bottom: 10px;
  height: fit-content;
}
.widgets-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.widgets-header > h2 {
  font-size: 16px;
  font-weight: 400;
}
.widgets-article {
  display: flex;
  padding: 10px;
  cursor: pointer;
}
.widgets-article:hover {
  background-color: whitesmoke;
}

.widgets-articleLeft {
  color: #0177b7;
  padding: 5px;
}
.widgets-articleLeft > .svg {
  font-size: 15px;
}
.widgets-articleRight {
  flex: 1;
}
.widgets-articleRight > h4 {
  font-size: 14px;
}
.widgets-articleRight > p {
  font-size: 12px;
  color: gray;
}
